@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Press+Start+2P&display=swap');

/* Color Variables */
:root {
  --primary-color: rgb(42, 51, 65);
  --secondary-color: #6a5acd;
  --accent-color: #f5f5f5;
  --text-color: #000;
  --background-color: #55c5e2;
  --pixel-font: 'Press Start 2P', sans-serif;
  --body-font: 'Nunito Sans', sans-serif;
}
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root default styles */
html {
  font-size: 16px;
}

/* Body default styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-size: 1.2vw;
  height: 100vh;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--pixel-font);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Utility Classes */
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.text-center { text-align: center; }
.d-block { display: block; }

/* Links */
a {
  color: var(--text-color);
  text-decoration: none;
}

/* Buttons */
button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-family: var(--body-font);
  transition: background-color 0.3s ease;
  width: max-content;
  font-size: 1.2rem;
  border: 3px solid #5f5f5f;
}

button:hover {
  background-color:  #6599ff;
  color:  var(--accent-color);
  border-color: #4b71e7;
}

/* Form Elements */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}

/* Accessibility */
:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}
