<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <div class="home-container">
    <h1 class="home-header">Learning GSAP</h1>

    <div class="button-container">
      <button>
        <a href="./basic-tween">Basic Tween</a>
      </button>

      <button>
        <a href="./from-to">From To</a>
      </button>

      <button>
        <a href="./ease">Ease</a>
      </button>

      <button>
        <a href="./delay-repeat">Delay Repeat</a>
      </button>
    </div>
    <!-- <img class="fred" src="/images/fred.svg" /> -->
  </div>
</body>

</html>