<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <div class="home-container">
    <h1 class="home-header">Learning GSAP</h1>

    <div class="button-container">
      <a href="./basic-tween">
        <button class="link-button">Basic Tween</button>
      </a>

      <a href="./from-to">
        <button class="link-button">From To</button>
      </a>

      <a href="./ease">
        <button class="link-button">Ease</button>
      </a>

      <a href="./delay-repeat">
        <button class="link-button">Delay Repeat</button>
      </a>

      <a href="./ease-rough">
        <button class="link-button">Ease Rough</button>
      </a>

      <a href="./stagger">
        <button class="link-button">Stagger</button>
      </a>
    </div>
    <!-- <img class="fred" src="/images/fred.svg" /> -->
  </div>
</body>

</html>