* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  /* background: #fff; */
  z-index: 999;
}

a {
  text-decoration: none;
  color: #000;
  padding: 0 1em;
  font-size: 12px;
}


.logo {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  z-index: 1000;
}

.logo-container {
  display: flex;
}

.landing-description {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  z-index: 1000;
  opacity: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: #fff;
}

.content {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  padding: 0 4em;
}

.content img {
  width: 100%;
}

img {
  margin-bottom: 4em;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: gray;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem gray;
  cursor: pointer;
}

.tag-list li:hover {
  scale: 1.2;
}

.scroller {
  max-width: 100vw;
}

.scroller[data-animated="true"] {
  /* border: 3px solid red; */
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent);
  mask: linear-gradient(90deg, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller_inner:hover {
  animation-play-state: paused;
}

.scroller[data-direction="right"
] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes scroll {
  to {
    transform: translatex(calc(-50% - 0.5rem));
  }
}